/*
 * LoRa-Connect
 *
 * Copyright (C) 2023 Richard "Shred" Körber
 *   https://github.com/shred/lora-connect
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

// == THIS IS AN EXAMPLE CONFIGURATION FILE ==========
//
// Copy this file to "config.h" in the same directory,
// then change it according to your requirements.
//
// ===================================================

//--- LORA SENDER ------------------------------------
//
// ATTENTION: Make sure YOU are using the correct values for YOUR country.
//
// Failure to do so may result in legal problems, claims for damages, and even
// imprisonment. It is YOUR sole responsibility to set the correct value here!
// DO NOT just use values that you have found somewhere on the internet.

// This is the LoRa frequency
#define LORA_BAND xxxE6

// The following constant defines the LoRa sender power and boost of the device.
#define LORA_POWER xx
#define LORA_PABOOST xx

// Encryption key for LoRa transmissions
// Must be the same key as in sender/config.h!
#define LORA_ENCRYPT_KEY "myLoRaSeCrEtKeY"


//--- YOUR LOCAL WLAN --------------------------------
//
// This is the WLAN configuration on the receiver side, so it is the one that
// is used for connecting into your home WLAN and to your MQTT server.

// The SSID of your WLAN
#define WLAN_SSID "HomeSweetHome"

// Your WLAN's password
#define WLAN_PSK "mYsEcReTpAsSwOrD"


//--- MQTT CLIENT ------------------------------------

// MQTT server host name
#define MQTT_SERVER_HOST "mqtt.localdomain"

// Port of the MQTT server, usually 1883
#define MQTT_SERVER_PORT 1883

// MQTT Client ID (just use the default if in doubt)
#define MQTT_CLIENT_ID "lorabridge-1"

// User name for MQTT server authentication, NULL if no authentication needed
#define MQTT_USER "lorabridge"

// Password for MQTT server authentication, NULL if no authentication needed
#define MQTT_PASSWORD "mYsEcReTmQtTpAsSwOrD"

// MQTT topic to be used
#define MQTT_TOPIC "hc"

// Set to true if message should be retained
#define MQTT_RETAIN false
