/*
 * LoRa-Connect
 *
 * Copyright (C) 2023 Richard "Shred" Körber
 *   https://github.com/shred/lora-connect
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

// == THIS IS AN EXAMPLE CONFIGURATION FILE ==========
//
// Copy this file to "config.h" in the same directory,
// then change it according to your requirements.
//
// ===================================================

//--- LORA SENDER ------------------------------------
//
// ATTENTION: Make sure YOU are using the correct values for YOUR country.
//
// Failure to do so may result in legal problems, claims for damages, and even
// imprisonment. It is YOUR sole responsibility to set the correct value here!
// DO NOT just use values that you have found somewhere on the internet.

// This is the LoRa frequency
#define LORA_BAND xxxE6

// The following constant defines the LoRa sender power and boost of the device.
#define LORA_POWER xx      // dB
#define LORA_PABOOST xx    // true/false

// SF and bandwidth. Make sure the combination gives a payload size of 48 or higher.
#define LORA_SPREADING 7
#define LORA_BANDWIDTH 125E3

// The sync word. Use the default if in doubt.
#define LORA_SYNCWORD 0x12

// Encryption key for LoRa transmissions
// Must be the same key as in receiver/config.h!
#define LORA_ENCRYPT_KEY "myLoRaSeCrEtKeY"


//--- ACCESS POINT -----------------------------------
//
// The sender spawns an WLAN AP that your appliance connects to.

#define AP_SSID "MyAP"
#define AP_PASSWORD "mySeCrEtPaSsWoRd"
#define AP_SSID_HIDDEN false

// Only use a WLAN channel that are permitted in your country!
#define AP_CHANNEL 1


//--- HOME CONNECT APPLIANCE -------------------------
//
// The MAC address can be found on a label on the appliance,
// together with the model and serial number.
// Example: 00:11:22:33:44:55
#define HC_APPLIANCE_MAC {0x00, 0x11, 0x22, 0x33, 0x44, 0x55}

// The Key and IV of the appliance, see hcpy's config.json
#define HC_APPLIANCE_KEY "myApPlIaNcEkEy"
#define HC_APPLIANCE_IV "myApPlIaNcEiV"
